@import "base"

.about
    @media screen and (max-width: $tabletS)
        padding: 50px 0

    & > .container
        display: flex
        justify-content: center

    &__title
        margin-bottom: 15px

        & > h2
            text-align: left
            @media screen and (max-width: $tabletS)
                text-align: center

        & > .title__line
            width: 196px
            @media screen and (max-width: $tabletS)
                margin: 0 auto
            @media screen and (max-width: $mobileL)
                width: 150px

    &__image
        max-width: 50%
        height: auto
        display: grid
        @media screen and (max-width: $tabletS)
            display: none

        & > img
            width: 100%
            height: auto

    &__text
        margin-top: 174px
        @media screen and (max-width: $tabletM)
            margin-top: 0

        & > p
            max-width: 490px
            font-size: 16px
            line-height: 26px
            @media screen and (max-width: $tabletM)
                font-size: 14px
                line-height: 24px
            @media screen and (max-width: $tabletS)
                font-size: 10px
                line-height: 18px
                max-width: 85vw