/* Экраны */
$mobileS: 360px
$mobileM: 414px
$mobileL: 568px
$tabletS: 768px
$tabletM: 1024px
$desktopS: 1440px
$desktopM: 1600px
$desktopL: 1920px

/* Цвета */
$white: rgba(255, 255, 255, 1)
$white-grey: rgba(225, 231, 239, 1)
$light-grey: rgba(206, 213, 222, 1)
$grey: rgba(162, 177, 195, 1)
$dark-grey: rgba(124, 142, 164, 1)
$blue: rgba(81, 104, 132, 1)
$dark-blue: rgba(25, 46, 71, 1)
$black: rgba(5, 18, 34, 1)
$header-gradient: linear-gradient(180deg, rgba(247, 247, 247, 0) 0%, rgba(255, 101, 101, 0.1) 22.16%, rgba(255, 101, 101, 0.1) 100%)


$black-opacity: rgba(0, 0, 0, 0.6)
$shadow: rgba(0, 0, 0, 0.25)
$blue-grey: rgba(145, 156, 183, 1)
$brown: rgba(90, 66, 66, 1)
$button-gradient: linear-gradient(92.13deg, #FF005B 3.94%, #FF7245 30%, #FFE53B 100%)
$button-hover-gradient: linear-gradient(92.13deg, #FF005B 3.94%, #FF7245 81.03%, #FFE53B 100%)

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap')

@font-face
    font-family: "Georgia"
    src: url("../fonts/georgia/Georgia.woff") format("woff"),
    url("../fonts/georgia/Georgia.woff2") format("woff2")
    font-weight: normal
    font-style: normal

body
    margin: 0
    font-family: Roboto, sans-serif
    font-weight: 300
    font-size: 24px
    line-height: 28px
    overflow-x: hidden
    @media screen and (max-width: $tabletS)
        font-size: 18px
        line-height: 21px

.container
    width: 1400px
    margin: 0 auto
    @media screen and (max-width: $desktopS)
        width: 1200px
    @media screen and (max-width: $tabletM)
        width: 90vw
    @media screen and (max-width: $mobileL)
        padding: 30px
        width: 100vw

div
    box-sizing: border-box

h1, h2, h3
    font-family: 'Georgia', serif
    font-weight: 400
    margin: 0

h1
    margin-bottom: 40px
    font-size: 60px
    line-height: 110%
    color: $white-grey
    @media screen and (max-width: $tabletS)
        margin-bottom: 20px
        font-size: 48px

h2
    margin-bottom: 80px
    font-size: 48px
    line-height: 55px
    text-align: center
    @media screen and (max-width: $tabletS)
        margin-bottom: 40px
        font-size: 30px
        line-height: 34px

h3
    font-size: 36px
    line-height: 41px
    margin-bottom: 10px
    @media screen and (max-width: $tabletS)
        font-size: 24px
        line-height: 27px

h4, h5, h6
    font-family: Roboto, sans-serif
    font-weight: 700
    margin: 0

h4
    margin-bottom: 40px
    font-size: 30px
    line-height: 35px
    color: $white-grey
    @media screen and (max-width: $tabletS)
        margin-bottom: 20px
        font-size: 24px
        line-height: 28px

h5
    margin-bottom: 10px
    font-size: 18px
    line-height: 21px

section
    border-top: 94px solid transparent
    margin-top: -94px
    padding: 100px 0 150px
    background: $white-grey

button, .btn
    font-family: Roboto, sans-serif
    font-size: 24px
    line-height: 28px
    border: none
    border-radius: 20px
    transition: 0.3s ease-in-out
    @media screen and (max-width: $tabletS)
        font-size: 18px
        line-height: 21px

    &:hover
        cursor: pointer
        background-color: $dark-grey

.light-btn
    background-color: $light-grey
    color: $black

.dark-btn
    background-color: $blue
    color: $white-grey

p
    margin: 0

a
    color: $black
    text-decoration: none

    &:hover
        text-decoration: underline
        cursor: pointer