@import base.sass

.benefits
    margin-top: 0
    border-top: 0
    background: $white-grey

    &__content
        display: flex
        justify-content: space-between
        @media screen and (max-width: $tabletS)
            flex-direction: column
            align-items: center
            gap: 40px

    &__single
        display: flex
        flex-direction: column
        align-items: center
        text-align: center

    &__number
        display: flex
        align-items: flex-end
        margin-bottom: 20px
        width: 135px
        height: 102px
        background-image: url("../img/number.png")
        background-size: contain
        background-repeat: no-repeat
        @media screen and (max-width: $mobileL)
            width: 83px
            height: 62px

        & > span
            display: block
            width: 100%
            font-family: 'Georgia', serif
            font-size: 64px
            line-height: 75px
            font-weight: 600
            text-align: center
            @media screen and (max-width: $mobileL)
                font-size: 36px
                line-height: 42px

    &__text
        & p
            max-width: 320px
            @media screen and (max-width: $mobileL)
                max-width: 200px